@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card{
  width: 50%;
}

.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  .item {
    margin: 2rem;

    .price {
        justify-content: flex-end;
    }
  }
}

